<form action="share" method="post">
    <div class="share_content">
          <input hidden="hidden" id= "node_id" name="node_id" value=<%= @node_id %>>
          <input hidden="hidden" id= "node_job_id" name="job_id" value=<%= @job.id %>>

          <div><input name="name" id="node_name" class="form-control" required placeholder="Name"></div>
          <div><input name="telephone" id="node_phone" class="form-control" required placeholder="Phone" ></div>
          
          <div class="share_content_button btn-block">
            <button type="button" class="btn btn-default btn-info btn_apply_job">Apply</button>
            <button type="button" class="btn btn-default btn-success btn_share_job">Share</button>
          </div>
    </div>
</form>