<form action="share" method="post">
  <input hidden="hidden" name="node_id" value=<%= @node_id %>>
  <input hidden="hidden" name="job_id" value=<%= @job.id %>>
  telephone:<input name="telephone"><br />
  name:<input name="name">
  <button type="submit">submit</button>
</form>