// Place all the styles related to the spread controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.play_user_infor button {
  width: 49%;
}

.resume_button button {
  width: 49%;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #2fff00
}

.glyphicon-arrow-down {
  font-size: 90px;
}

.node{
  margin: auto;
  width: 100px;
}

.job_poster, .job_basic, .job_description_requirement
{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.job_poster
{
    padding-top: 15px;
}

.job_basic
{
    font-size: small;
    // color: grey;
}

.border
{
    background-color: rgb(195, 195, 195);
    height: 10px;
}

.play_user_infor
{
    position: fixed;
    /* bottom: 25px; */
    z-index: 1000;
    bottom: 0px;
    width: 100%;
    /* padding-left: 15px; */
}

.share_content_button button
{
    width: 49.4%; 
    //@border-radius: 0px !important;
}

.share_content input
{
    //width: 49.4%; 
    border-radius: 0px !important;
}

.share_content
{
  border-top-color: rgb(92, 184, 92);
  border-top-style: solid;
  border-left-color: rgb(92, 184, 92);
  border-left-style: solid;
  border-right-color: rgb(92, 184, 92);
  border-right-style: solid;
    border-width: 2px;
}

.play_content
{
    display:none;
}

.job_content
{
    padding-bottom: 110px;
}

.tel{
  text-align: center;
  display: block;
  width: 100%;
}

#maskLayer{ 
    width:100%; 
    height:100%;
    background-color:#000000; 
    opacity:0.8; 
    -moz-opacity:0.8; 
    filter:alpha(opacity=80);
    position: fixed;
    display:none;
}

.mask_remder
{
    position: fixed;
    top: 15%;
    padding-left: 5%;
    display:none;
}

.mask_remder span
{
    color: white;
}

.mask_remder_item
{
    margin-bottom: 15px;
    margin-top: 35px;
}

.mask_remder_item_content
{
    padding-left: 14px;
    font-size: small;
}

.mask_remder_item_title
{
    color:yellow;
}

.clip_share_link
{
    margin-left: 14px;
    color: green;
    font-weight: bolder;
}

 
